:root {
  --bg-main: #FFF6AF;
  --bg-form: #F8F4E5;
  --black: #000;
  --white: #fff;
  --accent-1: #FFA580;
  --accent-2: #1F271B;
  --accent-3: #a8a8a8;
  --accent-4: #95A4FF;
  --bg-card: #c1c6d3;
  --shadow-card: #B6465F;
  --attr1-card: #d9ffd2;
  --attr2-card: #c3c8ff;
  --attr3-card: #ffffb6;
  --super-trunfo: #FF0F80;
}